@mixin buttons($basicBorder: 1px, $gradient1: #fff, $gradient2: #d8dee7) {
  button {
    border: $basicBorder solid #acbed3;
    padding: 3px 14px;
    font-size: 12px;
    color: #3b557d;
    cursor: pointer;

    //& attribute adds

    &.primary {
      border: 2px solid #3b557d;
      padding: 5px 15px;
    }
    &.disabled {
      opacity: 0.8;
    }
    &:hover {
      // @include background-image(linear-gradient($gradient2, $gradient1));
    }
  }
}

button {
  @include buttons();
}

body {
  > #container {
    text-align: left;
    margin: 0 auto;
    width: 500px;
  }

  h1 {
    font-size: 26px;
    margin-bottom: 26px;
  }
}

div[role='main'] {
  margin-bottom: 25px;

  ul {
    padding-top: 14px;
  }
  li {
    /* color:$fontcolor1; */
    margin-bottom: 12px;
  }
}


