@import 'webflow-colors';

@mixin link {
  color: var(--blueText);

  &:hover {
    color: var(--blueIcon);
  }
}

body {
  margin: 0;
  background: var(--background1);
  font-family: var(--font-stack);
  font-size: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

a {
  @include link();
  text-decoration: none;
}

form * {
  font-size: inherit;
}

input {
  background-color: var(--background4);
  padding: 4px;
  line-height: 1.5;
  color: var(--text2);
  border: 1px solid var(--border3);
  border-radius: 2px;

  &:placeholder {
    color: var(--text4);
  }

  &:focus {
    border-color: var(--blueBorder);
    outline: none;
  }

  // &:invalid {
  //   border-color: var(--redBorder);
  // }
}

button {
  color: var(--text1);
  background: var(--actionSecondaryBackground);
  padding: 4px 8px;
  border: 1px solid var(--border1);
  border-radius: 2px;
  cursor: pointer;
  

  &:hover {
    background-color: var(--actionSecondaryBackgroundHover);
    color: var(--actionSecondaryTextHover);
  }

  &:focus {
    outline: none;
    border-color: var(--blueBorder);
  }

  &:disabled {
    background-color: var(--backgroundInactive);
    color: var(--textInactive);
  }

  &.button-primary {
    color: var(--actionPrimaryText);
    background-color: var(--actionPrimaryBackground);

    &:hover {
      color: var(--actionPrimaryTextHover);
      background-color: var(--actionPrimaryBackgroundHover);
    }
  }

  &.button-link {
    @include link();
    // color: var(--blueText);
    background-color: transparent;
    border: none;

    // &:hover {
    //   color: var(--blueIcon);
    // }
  }
}

.form_component {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #fff;

  .form_top-area,
  .form_bottom-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  .form_bottom-links {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: end;
  }

  .code-editor {
    font-size: 12px;
    height: 100%;
    overflow: auto;
  }
}
